<%- include("partials/header") %>

    <h1>Home</h1>

    <!-- include startingContent -->
    <div class="justifyContent">
        <p><%= startingContent %></p>
    </div>

    <!-- for Each, Outputs the Value Tag (Scriplet) -->
    <% posts.forEach(function(post) { %>
        <h1><%=post.title%></h1>
        <!-- Truncate a string -->
        <p><%=post.content.substring(0, 100) + " ..." %>
            <a href="/posts/<%=post.title%>">Read More</a>
        </p>
    <% }) %>
 
<%- include("partials/footer") %>